.home-container {
  display: flex;
  min-height: calc(100vh - 70px); 
  justify-content: center;
  align-items: center;
  gap: 80px;
  padding: 20px;
  background: linear-gradient(135deg, #f5f7fa, #c3cfe2);
  font-family: Arial, sans-serif;
}
.home-image,
.home-text {
  display: flex;
  justify-content: center;
  align-items: center;
}
.abes-image {
   width: 320px;
  height: 220px;
  object-fit: cover;   
  border-radius: 15px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}
.abes-image:hover {
  transform: scale(1.05);
}
.home-text h1 {
  font-size: 50px;
  color: #2f3542;
  margin: 0;
  text-shadow: 1px 1px 5px rgba(0,0,0,0.1);
}
@media (max-width: 768px) {
  .home-container {
    flex-direction: column;
    text-align: center;
    gap: 30px;
  }
}
